/* this css file will only style the homepage of our site */

#my-portrait {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 250%;
  font-family:'Courier New', Courier, monospace
}

.minor-section h2 {
  color:rgb(0, 0, 0);
  font-size: 200%;
  font-family:'Courier New', Courier, monospace
}

p {
  font-family: 'Courier New', Courier, monospace;
  text-indent: 20px;
  margin-left: 10px;
  color: rgb(0, 0, 0)
}
