.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: palegreen;
}
p {
  font-family: 'Courier New', Courier, monospace;
  text-indent: 20px;
  margin-left: 10px;
  color: rgb(15, 53, 16)
}
h1 {
  color:  rgb(15, 53, 16);
  font-size: 250%;
  font-family:'Courier New', Courier, monospace;
}
h2 {
  color:  rgb(15, 53, 16);
  font-size: 150%;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold
}
#content {
    background-color:rgb(0, 0, 0);
    width: 1300px;
    min-height: 300px;
    padding: 5px;
    margin: 0px;
    border:solid 15px rgb(61, 27, 54);
    font-size: 20px; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.minor-section img {
  width: 500px
}